*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #353535;
    width: 100%;
}

a:hover{
    transform: scale(1.01);
    transition: 0.5s ease;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #353535;
}


.header{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    overflow-y: scroll;
    margin: 20px;

}

.content::-webkit-scrollbar {
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.content_serie{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #D9D9D9;
    width: 100%;
    border: 2px solid #353535;
    border-radius: 10px;
}

.poster {
    width: 100px;
    height: 150px;
    overflow: hidden;
}

.poster img {
    width: 100%;
    height: auto;
}

.text{
    text-align: center;
}

.name{
    font-size: x-large;
    color: #284D63;
}
.footer{
    display: flex;
    justify-content: center;
    font-style: italic;
    width: 100%;
}

.header, .footer{
    background-color: #353535;
    padding: 20px;
    color: #FFFFFF;
}

/*----------------------------------------*/
/*tvshow.php*/
.original_name{
    font-style: italic;
    color: #3C6F71;
}
.container_season{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content_saison{
    text-align: center;
    border: 2px solid #353535;
    border-radius: 10px;
    padding: 20px;
}

.content_saison:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}

.name_season{
    color: #284D63;
}
/*----------------------------------------*/
/*season.php*/
.name a{
    color: #284D63;
}

.content_episode{
    display: flex;
    flex-direction: column;
    border: 2px solid #353535;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.content_episode:hover{
    transform: scale(1.01);
    transition: 0.5s ease;
}

.text_episode{
    display: flex;
    gap: 5px;
    font-size: large;
}

.titre_episode{
    color: #284D63;
}
/*----------------------------------------*/
/*media query*/
@media screen and (min-width: 600px){
    .poster {
        width: 150px;
        height: 200px;
    }
}

@media screen and (min-width: 1000px){
    /*index.php*/
    .content_serie{
        align-items: center;
    }
    .container a:nth-child(odd) .content_serie{
        flex-direction: row;
    }

    .container a:nth-child(even) .content_serie{
        flex-direction: row-reverse;
    }

    .poster {
        display: flex;
        align-items: center;
        width: 150px;
        height: 250px;
    }

    .text{
        flex: 2;
    }

    /*tvshow.php*/
    .content_saison{
        border: none;
    }
}
